.centerfied {
    text-align: center;
    margin-bottom: 4%;
}
.h1 {
    font-size: xx-large;
    color: #1E3A8A;
}

.cards {
    gap: 12px;
}

.cardHorizontal {
    display: flex;
    flex-direction: row;
    width: 95%;
    max-width: 600px;
    max-height: 300px;
}

.img {
    width: 180px;
    min-width: 170px;
    height: 100%;
    align-self: stretch;
}

.cardContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.parteHorizontal {
    display: flex;
    flex-direction: row;
}

.linkButton {
    background-color: #1E3A8A;
    width: 100%;
    display: flex;
    margin-top: 12px;
    margin-bottom: 0;
}